@model LucrareDisertatie.Models.Domain.ContentPost


@{
    ViewData["Title"] = Model.Title;
}


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

            @if (Model != null)
            {
                <h1 class="mb-3">@Model.Header</h1>

                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.PostDate.ToShortDateString()</span>
                </div>

              

                <div class="mb-3 d-flex">
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="badge bg-secondary me-1">@tag.Name</span>
                    }
                </div>

                <img src="@Model.ImageUrl" class="d-block img-fluid mb-3" />

                <div class="mb-3">
                    @Html.Raw(Model.Content)
                </div>


                <div class="card">
                    <div class="card-header">
                        <h5>Comments</h5>

                  
                    </div>
                
                </div>



            }
            else
            {
                <p>Blog post not found!</p>
            }
        </div>
    </div>
</div>
