@model List<LucrareDisertatie.Models.Domain.ContentPost>
@{
    ViewData["Title"] = "Browse Content";
}


<div class="container">
    <div class="row align-items-center g-5 py-5">
        <div class="">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Exploring Content and Technologies
            </h1>
            <p class="lead">
                Explore and delve into your favorite content and technologies here.
            </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Any())
            {
                foreach (var content in Model)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <img src="@content.ImageUrl" alt="@content.Header"
                             class="mb-2 d-block img-fluid" />

                        <h2 class="mb-4">@content.Header</h2>
                        <p class="mb-4">
                            Author: @content.Author
                            <br />
                            Published Date: @content.PostDate.ToShortDateString()
                        </p>

                        <p class="mb-4">
                            @foreach (var tag in content.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@content.Summary</p>

                        <a class="btn btn-dark"
                           asp-area=""
                           asp-controller="Content"
                           asp-action="Index"
                           asp-route-handleUrl="@content.HandleUrl">Read More</a>
                    </div>

                }
            }
        </div>
    </div>
</div>